::-webkit-scrollbar {
    display: none;
}

.App {
    text-align: center;
}

.rotate {
    animation: spin infinite 5s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'digital';
    src: url('./font/digital-7/digital-7.ttf');
}

.blinking-cursor {
    font-weight: 100;
    color: white;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

.whitelink {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.socialButton {
    background: none !important;
    border: none !important;
    cursor: pointer;
    outline: none;
    margin: 0.25rem 0.75rem
}

.socialIcon {
    width: 5em;
    height: 5em;
    border-radius: 10px;
    outline: none;
}

.gas {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    color: rgb(244, 0, 67);
}